<a href="https://colab.research.google.com/github/Muhammadrafy06/python/blob/main/eserciziPythonBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
#0 
x,y,z = 10,20,30
a, b, c = 100,100,100

print(x,y,z,a,b,c)

10 20 30 100 100 100

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
#1 
num1 = input("inserisci numero 1 ")
num2 = input("inserisci numero 2 ")

print("numero 2: ", num2, "numero 1: ", num1)

inserisci numero 1 1000
inserisci numero 2 90
numero 2:  90 numero 1:  1000

2. far inserire all'utente due numeri e calcolare lìelevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
base = int(input("inserisci numero 1 "))
esponente = int(input("inserisci numero 2 "))
result = 1

while esponente != 0:
    result *= base
    esponente-=1

print("Answer = " + str(result))

inserisci numero 1 2
inserisci numero 2 4
Answer = 16

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
#3
number1 = int(input("inserire numero1 "))
number2 = int(input("inserire numero2 "))
number3 = int(input("inserire numero3 "))

numeroMassimo = max(number1, number2, number3)

print(numeroMassimo)

inserire numero1100
inserire numero23
inserire numero399
100

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [ ]:
#4
import math
while True:
     try:
         side1 = int(input("Please enter the value of side 1: "))
         side2 = int(input("Please enter the value of side 2: "))
         side3 = int(input("Please enter the value of side 3: "))
     except ValueError:
         print("Please enter a value next time instead of a letter.")
         continue
     else:
         break

def isValid(side1, side2, side3):
     if (side1 + side2 > side3) and (side1 + side3 > side2) and (side2 + side3 > side1):
         return True
     else:
         return False

def area(side1, side2, side3):
     if isValid(side1, side2, side3):
         sides = (side1 + side2 + side3) / 2
         TriArea = math.sqrt(sides * (sides - side1) * (sides - side2) * (sides - side3))
         print("l'area del triangolo con i lati:", side1, side2, side3, "è", TriArea)
     else:
         print("inserire numeri che possano formare un triangolo ")

area(side1, side2, side3)

Please enter the value of side 1: 5
Please enter the value of side 2: 6
Please enter the value of side 3: 7
l'area del triangolo con i lati:  5 6 7 è 14.696938456699069

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [ ]:
import math
cateto1 = int(input("inserire cateto 1 "))
cateto2 = int(input("inserire cateto 2 "))
ipotenusa = math.sqrt(a ** 2 + b ** 2)
area = (cateto1 + cateto2 + ipotenusa) / 2
print("l'area è: ",area, "con ipotenusa: ", ipotenusa)

inserire cateto 15
inserire cateto 290
l'area è:  52.6478150704935 con ipotenusa:  10.295630140987

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
#6
numero = int(input("inserire un numero qualsiasi "))

if numero % 2 == 0:
    print("il tuo nunmero è pari")
else:
    print("il tuo numero è dispari")

inserire un numero qualsiasi9
dispari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
#7
celsius = float(input("mettere temperatura in celsius "))  
fahrenheit = (celsius* 1.8) + 32  
print("la tua temperatura celsius in fahrenheit è: ", round(fahrenheit))

mettere temperatura in celsius100
la tua temperatura celsius in fahrenheit è:  212.0

8. far inserire all'utente il valore di una temperatura in gradi fahrenheit e convertirlo in gradi centigradi

In [ ]:
#7
fahrenheit = float(input("mettere temperatura in fahrenheit "))  
celsius = (fahrenheit - 32)  / 1.8  
print("la tua temperatura fahrenheit in celsius è: ", round(celsius))

mettere temperatura in fahrenheit200
la tua temperatura fahrenheit in celsius è:  93.33333333333333

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
#9
KMH = float(input("inserire i KM/H "))
MS = (KMH * 1000)/3600
print(round(KMH), "in M/S sono: ", round(MS))

inserire i KM/H90
90.0 in M/S sono:  25

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:
#10
pi = 3.14
raggio = float(input("inserisci il raggio:"))
 
areaCerchio = pi * raggio * raggio
circle_circum = 2 * pi * raggio
diametro = 2*raggio 
    
print("area del cerchio = %.3f" %areaCerchio)
 
#print("circonferenza del cerchio = %.3f" %circle_circum)
print("diametro del cerchio = %.3f" % diametro )

inserisci il raggio:80
area del cerchio = 20096.000
diametro del cerchio = 160.000

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
#11
nome = str(input("inserire il nome "))
cognome = str(input("inserire il cognome "))

print(" ".join([nome, cognome]))

inserire il nome rafy
inserire il cognome muhammad
rafy muhammad

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
#12
numeroInput = int(input("inserire un numero qualsiasi "))
if numeroInput >= 0:
   print(numeroInput)
else:
   valoreAssoluto = numeroInput * -1
   
   print(valoreAssoluto)

inserire un numero qualsiasi 80
80

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:
#13
voto = int(input("inserire un voto: "))
if 1 <= voto <= 10:
  print("OK")
else:
  print("KO")

inserire un voto: 8
OK

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:
multiplo1 = 0
multiplo2 = 0
n = 0;

while (n < 1001):

      print("si")
 else:
      print("no")

 n += 1

SyntaxError: ignored

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

In [ ]:
#15
ore = int(input("inserire le ore "))
minuti = int(input("inserire i minuti "))
secondi = int(input("inserire le secondi 3"))

stringTime = str(ore) + ":" + str(minuti) + ":" + str(secondi)
def get_sec(time_str):
   
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)


print(get_sec(stringTime))

inserire le ore 1
inserire i minuti 30
inserire le secondi 5
5405

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [ ]:
# Python Program to Convert seconds
# into hours, minutes and seconds
inputSecondi = int(input("inserire i secondi "))
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
     
    return "%d:%02d:%02d" % (hour, minutes, seconds)
     
# Driver program

print(convert(inputSecondi))

inserire i secondi 100
0:01:40